<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MichaelBrandonMorris.Extensions.CollectionExtensions" version="1.0.6390.23789" targetFramework="net462" />
  <package id="MichaelBrandonMorris.Extensions.PrimitiveExtensions" version="1.0.6390.20452" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net462" />
</packages>